<section id="crecer">

<div class="container-fluid  d-flex d-block" style="background:#E6E2D4;">
    <div class="row px-0 pb-lg-0">
            <div class="offset-2 col-10 pt-2 ps-3 pt-sm-3 col-sm-12 col-md-12 offset-lg-0 col-lg-6 pt-md-5 pt-lg-2 px-lg-5 pb-lg-0">
                <h1 class="text-lg-start text-md-center" style="font-family: Montserrat;font-size: 35px;color: #151C32;">Estás a un paso <em style="font-family: Bodoni 72;">de crecer</em></h1>
                <button type="button" class="offset-3 col-5 col-sm-4 col-md-4 offset-lg-0 col-lg-4 btn rounded text-white" style="background: #AC6A4D;font-family: Montserrat;font-weight: bold;">Reservar</button>

            </div>
            <div class="ps-3 col-12 pt-3 pt-sm-3 col-sm-12  ps-lg-0 col-md-12 col-lg-6 pt-md-5 ps-lg-0 pt-lg-0 pe-lg-0">
                <img src="../assets/img/crecer.svg" alt="Crecer conmigo"/>
            </div>
    </div>
</div>
</section>

