<section id="reserva" class="bg-light py-4 my-5">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2 class="card-title text-center" style="color: var(--azul_primary); font-family: Abhaya Libre SemiBold; height: 100px; font-size: 40px;">Reserva tu cita
                <div class="spinner-border float-right ms-5" role="status" *ngIf="loading">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </h2>
          </div>

          <div class="col d-flex justify-content-center">
              <div class="card mb-3" style="max-width: 1000px;">
                  <div class="row g-0">
                    <span *ngIf="submitted && createReserva.invalid" class="badge bg-dark col-3">Por favor Complete todo los campos</span>

                    <form class="row g-3" [formGroup]="createReserva" (ngSubmit)="agregarReserva()">
                      <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre"  id="validationDefault01"  required>
                      </div>
                      <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Apellido</label>
                        <input type="text" class="form-control" formControlName="apellido"  id="validationDefault02"  required>
                      </div>
                      <div class="col-md-4">
                        <label for="validationDefaultUsername"  class="form-label">Correo</label>
                        <div class="input-group">
                          <span class="input-group-text" id="inputGroupPrepend2"></span>
                          <input type="text" class="form-control" formControlName="correo" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label for="validationDefaultUsername" class="form-label">Teléfono</label>
                        <div class="input-group">
                          <span class="input-group-text" id="inputGroupPrepend2"></span>
                          <input type="text" class="form-control" formControlName="telefono"  id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                        </div>
                      </div>
                      <div class="col-md-4 mt-5">
                        <select class="form-select" formControlName="especialidad"  >
                        <option value="" selected disabled >Escoge el servicio</option>
                        <option value="Psicologia">Psicologia</option>
                        <option value="Ansiedad">Ansiedad</option>
                        <option value="Estres">Estres</option>
                        <option value="Psiquiatria">Psiquiatria</option>
                        <option value="Tanotologia">Tanotologia</option>
                        <option value="Nutricion">Nutricion</option>
                        <option value="Familia">Familia</option>
                        <option value="Pareja">Pareja</option>
                        <option value="Artes Expresivas">Artes Expresivas</option>
                        <option value="Actividad fisica">Actividad Fisica</option>
                        <option value="Astrologia">Astrologia</option>
                        </select>
                        </div>
                      <div class="col-md-4 mt-5">
                        <div class="form-floating">
                          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"  formControlName="motivo" style="height: 100px"></textarea>
                          <label for="floatingTextarea2">Dejanos el motivo de tu reserva</label>
                        </div>
                      </div>
                      <div class="col-12 mb-3 ms-2">
                        <button  class="btn me-sm-2 text-white" type="submit" style="background: var(--azul_primary);" method="get">Registrar cita</button>
                      </div>
                    </form>


                  </div>
              </div>
          </div>

      </div>
  </div>
  <script>
     "use strict";
const nodemailer = require("nodemailer");

// async..await is not allowed in global scope, must use a wrapper
async function main() {
  // Generate test SMTP service account from ethereal.email
  // Only needed if you don't have a real mail account for testing
  let testAccount = await nodemailer.createTestAccount();

  // create reusable transporter object using the default SMTP transport
  let transporter = nodemailer.createTransport({
    host: "smtp.ethereal.email",
    port: 587,
    secure: false, // true for 465, false for other ports
    auth: {
      user: testAccount.user, // generated ethereal user
      pass: testAccount.pass, // generated ethereal password
    },
  });

  // send mail with defined transport object
  let info = await transporter.sendMail({
    from: '"Fred Foo 👻" <daysimancco@example.com>', // sender address
    to: "bar@example.com, 180001055@cientifica.edu.pe", // list of receivers
    subject: "Hello ✔", // Subject line
    text: "Hello world?", // plain text body
    html: "<b>Hello world?</b>", // html body
  });

  console.log("Message sent: %s", info.messageId);
  // Message sent: <b658f8ca-6296-ccf4-8306-87d57a0b4321@example.com>

  // Preview only available when sending through an Ethereal account
  console.log("Preview URL: %s", nodemailer.getTestMessageUrl(info));
  // Preview URL: https://ethereal.email/message/WaQKMgKddxQDoou...
}

main().catch(console.error);

  </script>
</section>


