<footer>
  <div class="footer-clean">
      <footer>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Servicios</h3>
                      <ul>
                          <li><a href="#">Psicología</a></li>
                          <li><a href="#">Psiquiatría</a></li>
                          <li><a href="#">Actividad física</a></li>
                          <li><a href="#">Programas individuales</a></li>
                          <li><a href="#">Programas grupales</a></li>
                          <li><a href="#">Precios</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Conócenos</h3>
                      <ul>
                          <li><a href="#">Nosotros</a></li>
                          <li><a href="#">Especialistas</a></li>
                          <li><a href="#">Preguntas frecuentes</a></li>
                          <li><a href="#">Términos y condiciones</a></li>
                          <li><a href="#">Políticas y privacidad</a></li>
                          <li><a href="#">Políticas de cookies</a></li>
                          <li><a href="#">Libro de reclamaciones</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Cultiva tu Mente Bonita</h3>
                      <ul>
                          <li><a href="#">Trabaja con nosotros</a></li>
                          <li><a href="#">Información para empresas</a></li>
                          <li><a href="#">Contacto</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-3 item social">

                      <img src="../assets/img/facebook.png" alt="">
                      <img src="../assets/img/instagram.png" alt="">
                      <img src="../assets/img/Group 117.png" alt="">
                      <p class="copyright">Mente Bonita ©️ 2022</p>
                  </div>
              </div>
          </div>
      </footer>
  </div>
  </footer>
