 <!--Suscripcion-->
  <section>
    <div class="container">
      <div class="row mx-auto pb-4 pb-sm-0">
        <div class="col-12 col-lg-6 offset-lg-2 pb-4 pb-sm-0">
          <input type="text" class="txt w-100 form-control" placeholder="Suscríbete al newsletter con tu correo electrónico" style="border:0px" />
          <span style="border: 1px;border-color: black;"></span>
        </div>
        <div class="col-12 col-lg-3 ">
          <button type="button" class="btn w-100 w-sm-50" style="background: #AC6A4D;color: #FFFFFF;"><b>Enviar</b></button>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="col-2 col-lg-1  offset-0 offset-lg-2">
          <input class="form-check-input rounded-circle" type="checkbox" value="" id="defaultCheck1">
        </div>
        <div class="col-10 col-lg-8">
          <label class="form-check-label" for="defaultCheck1">
            Acepto que Mente Bonita use mi información personal. <a href="#" > Políticas de privacidad</a>
          </label>
        </div>
      </div>
    </div>
  </section><br><br><br><br><br><br>
  <!--/Suscripcion-->
