<nav id="header" class="navbar navbar-expand-lg navbar-dark sticky-top pt-0" style="background: #ca9f8dde;">
  <div class="container ps-0">
      <a class="navbar-brand ps-4 ps-sm-0" href="#"><img src="./assets/img/Group.svg" alt="logo" class="w-100 h-100"></a>
      <a class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-pe"> </span></a>
        <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="#pe"><span class="flag-icon flag-icon-pe"> </span></a>
            <a class="dropdown-item" href="#mx"><span class="flag-icon flag-icon-mx"> </span></a>
            <a class="dropdown-item" href="#cl"><span class="flag-icon flag-icon-cl"> </span></a>
        </div>
      </a>

          <button class="navbar-toggler bg-dark ms-4 mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  <div class="collapse navbar-collapse text-start ps-4 ps-sm-0" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link" href="#" style="color:#151C32">Inicio</a>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color:#151C32" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Programas
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#" style="color:#151C32">Individuales</a></li>
                  <li><a class="dropdown-item" href="#" style="color:#151C32">Grupales</a></li>

              </ul>
        </li>
           <li class="nav-item">
              <a class="nav-link" href="#" style="color:#151C32">Precios</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" style="color:#151C32">Especialistas</a>
          </li>
      </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn me-md-2 text-white" type="button" style="background: #AC6A4D;">Reservar</button>
      </div>
    </div>
  </div>
</nav>
