 <!--Grupo de apoyo-->
        <section id="gapoyo">
            <div class="container rounded mb-2 pt-0">
              <div class="row  py-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 ps-5 pe-5 pb-3 pt-lg-5 pb-lg-0">
                        <h1 class="col-12 pb-4 text-start" style="font-family: Montserrat;">Grupos<em> de apoyo</em></h1>
                        <p class="col-12" style="font-family: Montserrat;font-weight: 300;font-size: 20px;">It is a long established fact that
                           a reader will be distracted by the readab
                           le content of a page when looking at its l
                           ayout. The point of using Lorem Ipsum is that i
                           t has a more-or-less normal distribution of letters
                           , as opposed to using 'Content here, content here'.</p>
                           <button type="button" class="col-12 col-sm-6 btn rounded text-white" style="background: #AC6A4D;font-family: Montserrat;font-weight: bold;">Me interesa</button>


                </div>

                <div class="col-12 col-sm-6 col-md-12 col-lg-6 pb-2 px-md-5 pb-md-2 pb-lg-0 px-lg-0">
                        <img src="../assets/img/fotoApoyo.svg" alt="Apoyo" class=""/>
                </div>

            </div>
            </div>

          </section><br/><br/>
        <!--/Grupo de apoyo-->
