
  <section id="especialistas" class="bg-light py-4 my-5">
    <div class="container ">
        <div class="row">
            <div class="col-12">
              <h2 class="text-center" style="font-family: Montserrat;font-size: var(small); text-align: center;">Conoce <em>nuestros especialistas</em></h2>
            </div>

            <div class="col-md-6 col-lg-4 p-3">
                <div class="card text-center mx-auto p-2 mb-5 bg-white rounded" style="width: 300px; border-radius: 8px; border: 2px solid #AC6A4D; box-sizing: border-box;">
                    <img style="max-height: 244px;" src="../assets/img/especialistas/luz_harman.png" class="card-img-top " alt="Isabella Mauro">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #151C32; font-family: Montserrat; font-style: normal; font-weight: normal; font-size: var(--medium_l); line-height: 61px; "><b>Luz <i>Harman</i></b></h5>
                        <h5 class="card-title" style="color: #151C32; font-family: Montserrat; font-style: normal; font-weight: normal; font-size: var(--medium_l); line-height: 61px; "><b>Nutricionista</b></h5>
                      </div>
                    <div class="card-body">
                        <div class="modal-body mx-auto p-1">
                            <!--<a href="#" class="btn boton1">Ver perfil</a>!-->
                            <button class="btn me-md-2 text-white" type="button" style="background: #AC6A4D;">Reservar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 p-3">
                <div class="card text-center mx-auto p-2 mb-5 bg-white rounded" style="width: 300px; border-radius: 8px; border: 2px solid #AC6A4D; box-sizing: border-box;">
                    <img style="max-height: 244px;" src="../assets/img/especialistas/VerónicaZapata.jpg" class="card-img-top" alt="Alejandra Pachioni">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #151C32;font-family: Montserrat; font-style: normal; font-weight: normal; font-size: var(--medium_l); line-height: 61px; "><b>Verónica <i>Zapata</i></b></h5>
                        <h5 class="card-title" style="color: #151C32;font-family: Montserrat; font-style: normal; font-weight: normal; font-size: var(--medium_l); line-height: 61px; "><b>Psicólogo</b></h5>
                      </div>
                    <div class="card-body">
                        <div class="modal-body mx-auto p-1">
                            <!--<a href="#" class="btn boton1">Ver perfil</a>!-->
                            <button class="btn me-md-2 text-white" type="button" style="background: #AC6A4D;">Reservar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 p-3">
                <div class="card text-center mx-auto p-2 mb-5 bg-white rounded" style="width: 300px; border-radius: 8px; border: 2px solid #AC6A4D; box-sizing: border-box;">
                    <img style="max-height: 244px;" src="../assets/img/especialistas/camila_munoz.png" class="card-img-top" alt="Ana Ceballos">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #151C32;font-family: Montserrat; font-style: normal; font-weight: normal; font-size: var(--medium_l); line-height: 61px; "><b>Camila <i>Muñóz</i></b></h5>
                        <h5 class="card-title" style="color: #151C32;font-family: Montserrat; font-style: normal; font-weight: normal; font-size: var(--medium_l); line-height: 61px; "><b>Psicólogo</b></h5>
                      </div>
                    <div class="card-body">
                        <div class="modal-body mx-auto p-1">
                            <!--<a href="#" class="btn boton1">Ver perfil</a>!-->
                            <button class="btn me-md-2 text-white" type="button" style="background: #AC6A4D;">Reservar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
