<app-navbar></app-navbar>
<app-contInicio></app-contInicio>
<app-aUnPasoDeCrecer></app-aUnPasoDeCrecer><br><br>
<app-cards></app-cards><br>
<app-carrusel></app-carrusel>
<app-porqueElegirnos></app-porqueElegirnos>
<app-reservaTuCitaEnTresPasos></app-reservaTuCitaEnTresPasos><br><br>
<app-programaParaEmpresas></app-programaParaEmpresas><br><br>
<app-descuentoBanner></app-descuentoBanner><br><br>
<app-gruposDeApoyo></app-gruposDeApoyo>
<app-list-especialistas></app-list-especialistas>
<router-outlet></router-outlet>
<app-create-reserva></app-create-reserva><br>
<app-suscripcion></app-suscripcion>
<app-footer></app-footer>

