
<section class="bg-light py-4 my-5">
  <div id="reserva" class="container"><br><br><br><br>
      <div class="row" >

          <div class="col d-flex justify-content-center">
              <div class=" mb-3" style="max-width: 1000px;">

                    <img src="../assets/img/check.svg" alt="Visualizar final">

              </div>

          </div>
          <div class="">
            <h2 class="card-title text-center" style="color: var(--azul_primary); font-family: Abhaya Libre SemiBold; height: 100px; font-size: 40px;">Tu reserva se <em>registró correctamente</em></h2>
             </div>

        </div>
    </div>
  </section>










<!--<div class="col-md-4">
  <select class="form-select">
  <option class="text"  formControlName="especialista" selected >Hola mundo
     {{especialista.name}}
  </option>
  <option value="0" formControlName="especialista">Alejandra</option>
  <option value="1" formControlName="especialista">Romeo</option>
  </select>
  </div> -->
