<section >
  <div class="container" id="filtros3">
      <div class="row">
          <div class="col-md-6 col-lg-4 p-3">
              <div class="card text-center mx-auto p-2 mb-3 bg-white rounded pb-3 pe-3" style="width: 300px; border-radius: 8px; border: 2px solid #AC6A4D; box-sizing: border-box;">
                  <div class="card card2">
                  <img src="/src/assets/images/isabella mauro psicologa mb 1.jpg" class="card-img-top " alt="Isabella Mauro">

                  <div class="card-body col-12 pb-0" *ngFor="let especialista of especialistas | async">
                      <h5 id="ElPDwGFlTc877jmejHXr" class="pt-2 pb-0 col-12" style="color: #151C32; font-family: Montserrat; font-weight: 400; font-size: 25px;">{{especialista.nombre}} <b><i style="font-weight: 400; font-size: 30px; line-height: 61px; "></i></b></h5>
                      <p class="col-12" style="color: #151C32; font-family: Montserrat; font-style: normal; font-weight: 400; font-size: 25px;"></p>
                  </div>
                  <div class="card-body col-12 pb-0">
                      <form class="clasificaciones">
                          <input type="radio" name="rate" id="rate-1"/>
                          <label  for="rate-1" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-2"/>
                          <label for="rate-2" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-3"/>
                          <label for="rate-3" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-4"/>
                          <label for="rate-4" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-5"/>
                          <label for="rate-5" class="fas fa-star"></label>
                      </form>
                  </div>
                  <div class="card-body">
                          <a routerLink="/detalle-especialista" type="button" href="#" class="btn boton1">Ver perfil</a>
                          <a routerLink="/comprar" type="button" href="#" class="btn boton2">Comprar</a>
                  </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 p-3">
              <div class="card text-center mx-auto p-2 mb-3 bg-white rounded pb-3 pe-3" style="width: 300px; border-radius: 8px; border: 2px solid #AC6A4D; box-sizing: border-box;">
                  <div class="card card2">
                  <img src="/src/assets/images/Alejandra Pacchioni psicologa foto mb 2.jpg" class="card-img-top " alt="Isabella Mauro">

                  <div class="card-body col-12 pb-0">
                      <h5 class="pt-2 pb-0 col-12" style="color: #151C32; font-family: Montserrat; font-weight: 400; font-size: 25px;">Alejandra <b><i style="font-weight: 400; font-size: 30px; line-height: 61px; ">Pachioni</i></b></h5>
                      <p class="col-12" style="color: #151C32; font-family: Montserrat; font-style: normal; font-weight: 400; font-size: 25px;">Psicóloga</p>
                  </div>
                  <div class="card-body col-12 pb-0">
                      <form class="clasificaciones">
                          <input type="radio" name="rate" id="rate-6"/>
                          <label  for="rate-6" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-7"/>
                          <label for="rate-7" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-8"/>
                          <label for="rate-8" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-9"/>
                          <label for="rate-9" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-10"/>
                          <label for="rate-10" class="fas fa-star"></label>
                      </form>
                  </div>
                  <div class="card-body">
                          <a href="../especialista/especialista.component.html" type="button" href="#" class="btn boton1">Ver perfil</a>
                          <a href="../planyHorario/planyHorario.component.html" type="button" href="#" class="btn boton2">Comprar</a>
                  </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 p-3">
              <div class="card text-center mx-auto p-2 mb-3 bg-white rounded pb-3 pe-3" style="width: 300px; border-radius: 8px; border: 2px solid #AC6A4D; box-sizing: border-box;">
                  <div class="card card2">
                  <img src="/src/assets/images/ana paula ceballos foto 1.jpg" class="card-img-top " alt="Isabella Mauro">

                  <div class="card-body col-12 pb-0">
                      <h5 class="pt-2 pb-0 col-12" style="color: #151C32; font-family: Montserrat; font-weight: 400; font-size: 25px;">Ana Paula <b><i style="font-weight: 400; font-size: 30px; line-height: 61px; ">Ceballos</i></b></h5>
                      <p class="col-12" style="color: #151C32; font-family: Montserrat; font-style: normal; font-weight: 400; font-size: 25px;">Médico Psiquiatra</p>
                  </div>
                  <div class="card-body col-12 pb-0">
                      <form class="clasificaciones">
                          <input type="radio" name="rate" id="rate-11"/>
                          <label  for="rate-11" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-12"/>
                          <label for="rate-12" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-13"/>
                          <label for="rate-13" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-14"/>
                          <label for="rate-14" class="fas fa-star"></label>
                          <input type="radio" name="rate" id="rate-15"/>
                          <label for="rate-15" class="fas fa-star"></label>
                      </form>
                  </div>
                  <div class="card-body">
                          <a href="../especialista/especialista.component.html" type="button" href="#" class="btn boton1">Ver perfil</a>
                          <a href="../planyHorario/planyHorario.component.html" type="button" href="#" class="btn boton2">Comprar</a>
                  </div>
                  </div>
              </div>
          </div>

      </div>
  </div>

</section><br>
