
    <section id="empresas">
      <div  class="container rounded mb-2">
        <div class="row  px-0">
          <div class="col-12 col-sm-6 col-md-4 col-lg-6  ps-sm-3 ps-lg-0">
            <img src="../assets/img/apoyoEmpresa.svg" alt="Apoyo" class="h-100"/>
          </div>

          <div class="col-12 col-sm-12 col-md-8 col-lg-6 ps-5 pe-5 pb-3 pt-lg-5">

                  <h2 class="col-12 pb-4 text-start" style="font-family: Montserrat;">Programas <em>para empresas</em></h2>
                  <p class="col-12">It is a long established fact that
                     a reader will be distracted by the readab
                     le content of a page when looking at its l
                     ayout. The point of using Lorem Ipsum is that i
                     t has a more-or-less normal distribution of letters
                     , as opposed to using 'Content here, content here'.</p>
                     <button type="button" class="col-12 col-sm-6 btn rounded text-white" style="background: #AC6A4D;font-family: Montserrat;font-weight: bold;">Me interesa</button>



          </div>

      </div>
      </div>

    </section>


