@import '~ngx-toastr/toastr';

:root {
  --azul_primary: #151C32;
  --marron_primary: #AC6A4D;
  --gris_osc_primary: #E6E2D4;
  --gris_cla_primary: #F8F4F2;
  --azul_secondary: #4A5A79;
  --veig_osc_secondary: #E8DBAE;
  --blanco_secondary: #FFFFFF;

  --small: 15px;
  --medium: 20px;
  --medium_l: 25px;
  --long: 50px;
  --extraLong: 80px;
}

.navbar-collapse {
  flex-grow: 0;
  margin-right: 15px;
}

.navbar-brand {
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width:768px) {
  .navbar-brand {
    margin-right: -300px;
    padding-left: 15px;
    padding-right: 0px;
  }
}

@media (min-width:992px) {
  .navbar-brand {
    margin-right: -50px;
    padding-left: 15px;
    padding-right: 0px;
  }
}

@media (min-width:1280px) {
  .navbar-brand {
    margin-right: -20px;
    padding-left: 15px;
    padding-right: 0px;
  }
}

.dropdown-country {
  padding-left: 0px;

}

#header img {
  width: 40px;
  object-fit: cover;
}

.navbar-collapse {
  flex-grow: 0;
  margin-right: 15px;
}

.navbar-brand {
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 10px;
}

@media (min-width:768px) {
  .navbar-brand {
    margin-right: -300px;
    padding-left: 15px;
    padding-right: 0px;
  }
}

@media (min-width:992px) {
  .navbar-brand {
    margin-right: -50px;
    padding-left: 15px;
    padding-right: 0px;
  }
}

@media (min-width:1280px) {
  .navbar-brand {
    margin-right: -100px;
    padding-left: 15px;
    padding-right: 0px;
  }
}

.dropdown-country {
  padding-left: 16px;

}

#header img {
  width: 40px;
  object-fit: cover;
}

.btn-platzi {
  background-color: #97c93e;
  color: white;
}

.btn-platzi:hover {
  background-color: #82ad36;
}

#main .carousel-inner img {
  max-height: 70vh;
  width: auto;
  object-fit: cover;
}

#main #carousel {
  position: relative;
}

#main #carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

#main #carousel .overlay .container,
#main #carousel .overlay .row {
  height: 100%;
}

#place-time {
  background-color: #343a40;
  color: white;
}

#place-time img {
  max-width: 100%;
}

.home-testimonial {
  background-color: var(--gris_cla_primary);
  height: 825px;
}
@media(min-width:768px){
  .home-testimonial{
    height: 400px;
  }
}


.home-testimonial-bottom {
  background-color: #f8f8f8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px
}

.home-testimonial h3 {

  font-size: var(--small);
  font-weight: 500;
  text-transform: uppercase

}

.home-testimonial h2 {
  text-align: center;
  color: var(--azul_primary);
  font-size: var(--medium_l);
  font-weight: 700;
  font-family: Montserrat;
}

.testimonial-inner {
  position: relative;
  top: -174px
}

.testimonial-pos {
  position: relative;
  top: 24px
}

.testimonial-inner .tour-desc {
  border-radius: 5px;
  padding: 40px
}

.color-grey-3 {
  font-family: "Montserrat", "Bodoni ";
  font-size: 14px;
  color: #6c83a2
}

.testimonial-inner img.tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none
}

.link-name {
  font-family: "Montserrat", "Bodoni";
  font-size: 14px;
  color: #6c83a2
}

.link-position {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  color: #6c83a2
}


#crecer img {
  max-width: 100%;
  height: auto;
}

#crecer .container-fluid {
  max-width: 100%;
  height: auto;
}

#eligenos img {
  max-width: 100%;
  height: auto;
}

#empresas .container {
  background: #E6E2D4;
  max-width: 70%;

}

#empresas img {
  max-width: 100%;
  height: auto;
}

#gapoyo .container {
  background: #E6E2D4;
  max-width: 70%;

}

#gapoyo img {
  max-width: 100%;
  height: auto;
}
.footer-clean {
  padding: 50px 0;
  background-color: #151C32;
  ;
  color: #fff;
  ;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: center;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social>a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social>a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social>a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

#fondo img {
  max-width: 100%;
  height: auto;

}

#fondo .container-fluid {
  max-width: 100%;
  height: auto;
}

#fondo .flotante {
  display: scroll;
  position: fixed;
  bottom: 80px;
  right: 45px;
  z-index: 2;
}

#header img {
  width: 40px;
  object-fit: cover;
}

#servicios {
  z-index: 1;
}
#card_psico_inicio{
  width: 300px;
  border-radius: 8px;
  border: 2px;
  border-color: var(--marron_primary);
  box-sizing: border-box

}
.boton1 {
  background-color: var(--primaryBrown);
  border-color: transparent;
  background: #FFFFFF;
  color: #AC6A4D;
  border: 2px solid #AC6A4D;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 8px;
}

.boton1:hover {
  background-color: var(--primaryPink);
  color: var(--primaryBlue);
  border-color: transparent;
}

.boton2 {
  background-color: var(--primaryBrown);
  border-color: transparent;
  background: #AC6A4D;
  border-radius: 8px;
  border: 2px solid #AC6A4D;
  box-sizing: border-box;
}

.boton2:hover {
  background-color: var(--primaryPink);
  color: var(--primaryBlue);
  border-color: transparent;
}
#carrito .carousel-inner img {
  height:67vh;
 width: 40vh;
 left: 80px;
}

#carrito .carousel-caption img {
  height:53vh;
 width: 40vh;

}
.respuesta-image{
   background-size: auto;
   width: 100%;
   height: 30%;
   overflow: hidden;
}
@media(min-width:990px){
   #carrito .carousel-inner .img-rectangulo{
  height:400px;
   }
}
