<section id="servicios"  style="background:var(--gris_osc_primary);" >
  <div class="container ms-auto py-3 servicios"  style="font-family: Montserrat;">

      <div class="row" style="color: #151C32;">
          <div class="col-2">

          </div>
          <div class="col-sm-12 col-md-6 col-lg-auto pb-0 pb-sm-0 pb-md-0 pb-lg-4 offset-0 offset-lg-2">
             <h2 class="text-center" style="font-family: Montserrat;font-size: var(small); text-align: center;">Conoce <em>nuestros servicios</em></h2>
          </div>

       </div>

       <div class="align-items-center position-center row offset-2 offset-sm-0 offset-md-2 offset-lg-0">
           <div class="col col-sm-5 col-md-6 col-lg-auto pb-2 pb-sm-0 pb-md-2">
                  <div class="card text-center justify-content-center  h-100 card-white shadow-sm" style="width: 193px;">
                          <div class="card-body">
                              <div class="m-1">
                                  <label class=" top-50 btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                                      <img src="../assets/img/serv_psicologia.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                                  </label>
                              </div>
                              <a class="card-text mt-1" style="color: #151C32;"> Psicología</a>
                          </div>
                  </div>
            </div>
             <br/>
            <div class="col col-sm-5 col-md-6 col-lg-auto pb-2 pb-sm-0  pb-md-2">
              <div class="card text-center justify-content-center  h-100 card-white shadow-sm" style="width: 193px;">
                      <div class="card-body">
                          <div class="m-1">
                              <label class=" top-50 start-50  btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                                  <img src="../assets/img/serv_ansiedad.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                              </label>
                          </div>
                          <a class="card-text mt-1" style="color: #151C32;"> Ansiedad y Estrés</a>
                      </div>



              </div>
        </div>
        <br/>
        <div class="col col-sm-5 col-md-6 col-lg-auto pb-2 pb-sm-0  pb-md-2">
              <div class="card text-center justify-content-center  h-100 card-white shadow-sm" style="width: 193px;">
                  <div class="card-body">
                      <div class="m-1">
                          <label class=" top-50 start-50  btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                              <img src="../assets/img/serv_psiquiatría.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                          </label>
                      </div>
                      <a class="card-text mt-1" style="color: #151C32;"> Psiquiatría</a>
                  </div>



              </div>
          </div>
          <br/>
          <div class="col col-sm-5 col-md-6 col-lg-auto pb-2 pb-sm-0" >
              <div class="card text-center justify-content-center  h-100 card-white shadow-sm" style="width: 193px;">
                  <div class="card-body">
                      <div class="m-1">
                          <label class=" top-50 start-50  btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                              <img src="../assets/img/tanotologia.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                          </label>
                      </div>
                      <a class="card-text mt-1" style="color: #151C32;"> Tanotología</a>
                  </div>



              </div>
          </div>
          <div class="col col-sm-5 col-md-6 col-lg-auto" >
              <div class="card text-center justify-content-center  h-100 card-white shadow-sm" style="width: 193px;">
                  <div class="card-body">
                      <div class="m-1">
                          <label class=" top-50 start-50  btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                              <img src="../assets/img/serv_nutricion.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                          </label>
                      </div>
                      <a class="card-text mt-1" style="color: #151C32;"> Nutrición</a>
                  </div>



              </div>
          </div>



          </div>
          <br/>
          <div class="row offset-2 offset-sm-0 offset-md-2 offset-lg-0">
              <div class="col col-sm-5 col-md-6 col-lg-auto pb-2 pb-sm-0  pb-md-2" >
                     <div class="card text-center h-100 card-white shadow-sm" style="width: 193px;">
                             <div class="card-body">
                                 <div class="m-1">
                                     <label class=" top-50 start-50  btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                                         <img src="../assets/img/serv_familia.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                                     </label>
                                 </div>
                                 <a class="card-text mt-1" style="color: #151C32;"> Familia</a>
                             </div>



                     </div>
               </div>

               <div class="col col-sm-5 col-md-6 col-lg-auto pb-2 pb-sm-0  pb-md-2">
                 <div class="card text-center justify-content-center  h-100 card-white shadow-sm" style="width: 193px;">
                         <div class="card-body">
                             <div class="m-1">
                                 <label class=" top-50 start-50  btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                                     <img src="../assets/img/serv_pareja.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                                 </label>
                             </div>
                             <a class="card-text mt-1" style="color: #151C32;"> Pareja</a>
                         </div>



                 </div>
           </div>
           <div class="col col-sm-5 col-md-6 col-lg-auto pb-2 pb-sm-0  pb-md-2" >
                 <div class="card text-center justify-content-center  h-100 card-white shadow-sm" style="width: 193px;">
                     <div class="card-body">
                         <div class="m-1">
                             <label class=" top-50 start-50  btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                                 <img src="../assets/img/artesexpresivas.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                             </label>
                         </div>
                         <a class="card-text mt-1" style="color: #151C32;"> Artes expresivas</a>
                     </div>



                 </div>
             </div>
             <div class="col col-sm-5 col-md-6 col-lg-auto pb-2 pb-sm-0">
                 <div class="card text-center justify-content-center  h-100 card-white shadow-sm" style="width: 193px;">
                     <div class="card-body">
                         <div class="m-1">
                             <label class=" top-50 start-50  btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                                 <img src="../assets/img/serv_actividad_fisica.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                             </label>
                         </div>
                         <a class="card-text mt-1" style="color: #151C32;"> Actividad física</a>
                     </div>



                 </div>
             </div>
             <div class="col col-sm-5 col-md-6 col-lg-auto" >
                 <div class="card text-center justify-content-center  h-100 card-white shadow-sm" style="width: 193px;">
                     <div class="card-body">
                         <div class="m-1">
                             <label class=" top-50 start-50  btn-primary rounded-circle " style="background: #E6E2D4;width: 8rem; height:8rem;">
                                 <img src="../assets/img/serv_astrologia.svg" class="card-img-top mt-3 w-75 h-75 justify-content-center top-50 start-50" alt="Imagen inteleigencia">
                             </label>
                         </div>
                         <a class="card-text mt-1" style="color: #151C32;"> Astrología</a>
                     </div>



                 </div>
             </div>
            </div><br/>
            <div class="row">

              <div class="col-5 " >
              </div>
            </div>
 </div>
</section>
