
<!-- /Carrusel -->

    <section class="home-testimonial">
      <div class="container-fluid">
          <div class="row d-flex justify-content-center testimonial-pos">
              <div class="col-md-12 col-sm-12 pt-4 d-flex justify-content-center align-items-center font-family: Montserrat font-size: var(--small) color:var(--azul_primary)">
                  <h2>¿Qué dicen <em>nuestros  clientes?</em></h2>
              </div>
          </div>
          <section class="home-testimonial-bottom">
              <div class="container testimonial-inner">
                  <div class="row d-flex justify-content-center">
                      <div class="col-md-4 style-3">
                          <div class="tour-item ">
                              <div class="tour-desc bg-white">
                                  <div class="tour-text color-grey-3 text-center">&ldquo;Todo super bien con la atención &rdquo;</div>
                                  <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="./assets/images/latina-g7ca7b6883_1920.jpg" alt=""></div>
                                  <div class="link-name d-flex justify-content-center">Rosa Mendoza</div>
                                  <div class="link-position d-flex justify-content-center">Paciente de Nutrición</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 style-3">
                          <div class="tour-item ">
                              <div class="tour-desc bg-white">
                                  <div class="tour-text color-grey-3 text-center">&ldquo;Son muy humanos&rdquo;</div>
                                  <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="./assets/images/pareja.jpg" alt=""></div>
                                  <div class="link-name d-flex justify-content-center">Ana y Luis</div>
                                  <div class="link-position d-flex justify-content-center">Terapia de pareja</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 style-3">
                          <div class="tour-item ">
                              <div class="tour-desc bg-white">
                                  <div class="tour-text color-grey-3 text-center">&ldquo;Me ayudan mucho las sesiones.&rdquo;</div>
                                  <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="./assets/images/depositphotos_6036411-stock-photo-latino-man-smiling.jpg" alt=""></div>
                                  <div class="link-name d-flex justify-content-center">Juan Prieto</div>
                                  <div class="link-position d-flex justify-content-center">Psicología</div>
                              </div>
                          </div>
                      </div>
                  </div>
          </section>
  </section>


    <!-- /Carrusel -->
